<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<link rel="import" href="shared-styles.html">

<dom-module id="ma-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-button.indigo{
        background-color:#4285f4;
        color:#fff;
        margin-left:24%;
      }
      .card{
        margin:0px auto;
        width:500px;
        position: absolute;
        top: 30%;
        left: 32%;
        padding: 2.5% 4% 4%;
      }
      .error{
        color:red;
        margin-left:20%;
        visibility: hidden;
      }
      .show{
        visibility:visible;
      }
    </style>

    <div class="card">
      <div class='container'>
        <label id="errorMsg"  class$='{{isValid}} error'>Authentication failed. Please Try again.</label>
      <iron-form id='login'>
        <form>

          <paper-input type='text' label='Email' required value='{{user.email}}' auto-validate></paper-input>
          <paper-input type='password' label='Password' required value='{{user.name}}' auto-validate></paper-input>      
          <paper-button raised class='indigo' on-tap="_doLogin" disabled='{{isDisabled}}'>Login</paper-button>  
          <paper-button raised on-tap="_continueAsGuest">Continue As Guest</paper-button>
         </form> 
         </iron-form>
      </div>  
    </div>

     <iron-ajax
           id="checkLogin"
           url="http://10.117.189.188:8080/OnlineMortgage/login"
           handle-as="json"
           method = "post"
           body='{{user}}'
           content-type = "application/json"
           >
         </iron-ajax>
  </template>

  <script>
    class MaLogin extends Polymer.Element {
      constructor(){
        super();
        this.isDisabled = false;
      }
      static get is() { return 'ma-login'; }
      static get properties(){
        return{
          user:{
            type:Object,
            value:{}
          },
          isValid:{
            type:Boolean,
            value:false
          }
        }
      }
      _continueAsGuest(){
        window.history.pushState({}, null, '/new-customer');
        window.dispatchEvent(new CustomEvent('location-changed'));

      }
      _doLogin(){
        if(!this.$.login.validate()){
          return;
        }
        this.isDisabled  = true;
         this.user.name = 1234;
          let response = this.$.checkLogin.generateRequest();
          let _this = this;
          response.completes.then(function(success){

            localStorage.setItem('customerDetails', JSON.stringify(success.response));

           window.history.pushState({}, null, '/new-customer');
            window.dispatchEvent(new CustomEvent('location-changed'));
          },function(reject){
              _this.isValid = 'show';
              _this.isDisabled = false;
              window.setTimeout(function(){
                _this.isValid = '';
              },3000);
          });
      }
    }

    window.customElements.define(MaLogin.is, MaLogin);
  </script>
</dom-module>
