
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="shared-styles.html">

<dom-module id="ma-new-customer">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>


    <div class="card">

        <div class="ma-new-customer-form">
            <h1>New Customer Form</h1>
        </div>

        <iron-form id="newCustomerIronForm">

            <form>

                <paper-input id="name" label="Name" value="{{customerDetails.name}}"
                    required auto-validate allowed-pattern="[a-zA-Z0-9 ]" maxlength="128"
                    error-message="Enter a valid name"></paper-input>

                <paper-input id="dob" label="Date of Birth" value="{{customerDetails.dob}}"
                    type="date" required auto-validate
                    error-message="Enter a valid Date of Birth"></paper-input>

                <paper-input id="emailAddress" label="Email Address" value="{{customerDetails.email}}"
                    type="email" required auto-validate maxlength="128"
                    error-message="Enter a valid Email Address"></paper-input>

                <paper-input id="mobile" label="Mobile" value="{{customerDetails.mobile}}"
                    required auto-validate maxlength="10" allowed-pattern="[0-9]"
                    error-message="Enter a valid mobile number">
                    <div slot="prefix">+91&nbsp;</div>
                </paper-input>

                <paper-input id="ssn" name="ssn" label="SSN" value="{{customerDetails.pan}}"
                    allowed-pattern="[0-9-]" required auto-validate
                    error-message="Enter a valid SSN"></paper-input>

                <paper-input id="salary" label="Salary (per month)" value="{{customerDetails.salary}}"
                    required auto-validate allowed-pattern="[0-9]" maxlength="16"
                    error-message="Enter a valid Salary">
                    <div slot="prefix">Rs.&nbsp;</div>
                </paper-input>

                <paper-input id="city" label="City" value="{{customerDetails.city}}"
                    type="text" required auto-validate maxlength="128"
                    error-message="Enter a valid city"></paper-input>

                <paper-textarea id="address" label="Address" value="{{customerDetails.address}}"
                    required auto-validate maxlength="256"
                    error-message="Enter a valid Address"></paper-textarea>

                <paper-input id="pincode" label="Pin Code" value="{{customerDetails.pincode}}"
                    required auto-validate allowed-pattern="[0-9]" maxlength="6"
                    error-message="Enter a valid Pin code"></paper-input>

                <paper-button id="continueButton" raised on-click="_processUserDetails">
                    Continue</paper-button>

            </form>

        </iron-form>

    </div>

  </template>


  <script>

    class NewCustomer extends Polymer.Element {

      static get is() { return 'ma-new-customer'; }

      static get properties() {
        return {
            customerDetails: {
                type: Object,
                value: {}
            }
        };
      }


      connectedCallback() {

          super.connectedCallback();

          console.log('App loaded');
          let customerObj = JSON.parse(localStorage.getItem('customerDetails'));
          console.log(customerObj);
          this.customerDetails = customerObj;
      }


      _processUserDetails() {

        console.log(this.$.newCustomerIronForm.validate());

        // Is the complete form valid? If not valid, don't move forward.
        if(!this.$.newCustomerIronForm.validate()) {
            return;
        }

        console.log(this.customerDetails);

        // Store the object so that it can be used in the next page.
        localStorage.setItem('customerDetails', JSON.stringify(this.customerDetails));

        // Navigate to the offers page
        window.history.pushState({},"", '/offers');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }
    }

    window.customElements.define(NewCustomer.is, NewCustomer);

  </script>

</dom-module>

