<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">


<link rel="import" href="shared-styles.html">

<dom-module id="ma-offers">
  <template>
    <style include="shared-styles" is='custom-style'>
      :host {
        display: block;

        padding: 10px;
      }
      paper-spinner-lite {
                 position: absolute;
                 top: 290px;
                 left: 600px;
               } 
       paper-spinner, paper-spinner-lite {
          margin: 8px 8px 8px 0;
        }
        paper-spinner-lite.orange {
          --paper-spinner-color: var(--google-yellow-500);
        }
        paper-spinner-lite.green {
          --paper-spinner-color: var(--google-green-500);
        }
        paper-spinner-lite.thin {
          --paper-spinner-stroke-width: 1px;
        }
        paper-spinner-lite.thick {
          --paper-spinner-stroke-width: 6px;
        }
    </style>

    <div class="card">
    
      <paper-spinner-lite  class="active"></paper-spinner-lite>

      <iron-form id="offersForm">
        <form>
          <div class='row'>
            <div class="col">
            <label id="mortgageType">Mortgage Type:</label>
              <paper-radio-group aria-labelledby="mortgageType" id="mortgageSelection" selected="{{getMortgageType}}">
                <paper-radio-button name="0" on-tap='_getMortgageOffer'>New</paper-radio-button>
                <paper-radio-button name="1" on-tap='_getMortgageOffer'>Existing</paper-radio-button>
                <paper-radio-button name="2" on-tap='_getMortgageOffer'>With Re-Financing</paper-radio-button>
              </paper-radio-group>
              </div>
          </div>


          <div class='row'>
            <div class="col">
              <paper-input id="mortgageAmount" required auto-validate maxlength="8" allowed-pattern="[0-9]"
                label="Enter the Mortgage amount" value='{{mortgageAmount}}'></paper-input>
            </div>
          </div>


          <div class='row'>
            <div class="col">
              <paper-input id="propertySize" required auto-validate maxlength="6" allowed-pattern="[0-9]"
                label="Property Size (in sqft)" value='{{propertySize}}'></paper-input>
            </div>
          </div>

          <div class='row'>
            <div class="col">
              <paper-checkbox checked={{previousLoan}}>Do you have previous loan?</paper-checkbox>
            </div>
          </div>


          <div class='row'>
            <div class="col">
              <paper-checkbox checked={{legalCase}}>Are there any legal issues with the property?</paper-checkbox>
            </div>
          </div>


          <div class='row'>
          <div class="col">
              <template is='dom-repeat' items="{{offers}}">
                  <paper-card id='paper_card_{{index}}' class='default' >
                     <div class="card-content">              
                             {{item}}
                      </div>
                  </paper-card>
              </template>
           </div>
        </div>
          <div class='row'>
            <div class="col">
              <paper-button raised on-click="_submitMortgageDetails">Get Quotations</paper-button>
            </div>
          </div>
        </form>
      </iron-form>


    </div>

     <iron-ajax
           id="getMortgageOfferApi"
           url=""
           handle-as="json"
           method = "get"
           on-response = "updateEditProfile"
           body='{{ajaxResponse}}'
           content-type = "application/json"
           >
         </iron-ajax>

      <!-- Mani: 10.117.189.51 -->
      <!-- Avinash: 10.117.189.29 -->
      <!-- Final: 10.117.189.188 -->
      <iron-ajax
           id="sendMortgageDetails"
           url="http://10.117.189.51:8080/OnlineMortgage/customers"
           handle-as="json"
           method = "post"
           on-response = "updateEditProfile"
           body='{{mortgageDetails}}'
           content-type = "application/json"
           >
         </iron-ajax>

  </template>

  <script>
    class MaOffers extends Polymer.Element {
      constructor(){
        super();
        this.mortgageDetails = "";
      }
      static get is() { return 'ma-offers'; }
      static get properties(){
        return {
          propertySize:Number,
          previousLoan: {
            type: Boolean,
            value: false
          },
          legalCase: {
            type: Boolean,
            value: false
          },
          getMortgageType:{
            type:Number,
            value:''
          },
          mortgageAmount: Number,
          isActive:{
            type: Boolean,
            value:false
          },
          offers:{
            type:Array,
            value:[1,2,3]
          }
        }
    }
    _getMortgageOffer(){
        this.isActive = true;
      //  this.$.getMortgageOfferApi.generateRequest();
      console.log(this.isActive);
        
    }
    _submitMortgageDetails(){
      if(!this.$.offersForm.validate()) {
        return;
      }

        this.mortgageDetails = JSON.parse(localStorage.getItem("customerDetails"));
        this.mortgageDetails.mortgageType = this.getMortgageType;
        this.mortgageDetails.propertySize = this.propertySize;
        this.mortgageDetails.mortgageAmount = this.mortgageAmount;
        this.mortgageDetails.previousLoan = true == this.previousLoan ? 1 : 0;
        this.mortgageDetails.legalCase = true == this.legalCase ? 1 : 0;

        let response = this.$.sendMortgageDetails.generateRequest();
        
         response.completes.then(function(success){

           if(success.response.message) {
             alert(success.response.message);
           }
           else {
            alert('Mortgage Details submitted successfully!');
           }
         },function(rejected){
            alert("Error submitting the details");
         });
    }
  }

    window.customElements.define(MaOffers.is, MaOffers);
  </script>
</dom-module>
